<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; <%= new Date().getFullYear() %> Watch Store. All rights reserved.</p>
        <div class="mt-4">
            <a href="/" class="text-gray-400 hover:text-white mx-2">Home</a>
            <a href="/watches" class="text-gray-400 hover:text-white mx-2">Watches</a>
            <a href="/members" class="text-gray-400 hover:text-white mx-2">Members</a>
            <a href="/contact" class="text-gray-400 hover:text-white mx-2">Contact Us</a>
        </div>
        <div class="mt-4">
            <a href="https://www.facebook.com" target="_blank" class="text-gray-400 hover:text-white mx-2">
                <svg class="w-6 h-6 inline-block" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.406.593 24 1.325 24h11.495v-9.294H9.691v-3.622h3.129V8.413c0-3.1 1.894-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24h-1.918c-1.504 0-1.795.715-1.795 1.763v2.31h3.59l-.467 3.622h-3.123V24h6.116C23.406 24 24 23.406 24 22.675V1.325C24 .593 23.406 0 22.675 0z"/>
                </svg>
            </a>
            <a href="https://www.twitter.com" target="_blank" class="text-gray-400 hover:text-white mx-2">
                <svg class="w-6 h-6 inline-block" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.954 4.569c-.885.392-1.83.656-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.949.555-2.005.959-3.127 1.184-.897-.957-2.178-1.555-3.594-1.555-2.72 0-4.924 2.204-4.924 4.924 0 .386.044.762.127 1.124-4.09-.205-7.719-2.165-10.148-5.144-.424.729-.666 1.574-.666 2.476 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.062c0 2.385 1.693 4.374 3.946 4.827-.413.112-.849.172-1.296.172-.317 0-.626-.031-.927-.088.627 1.956 2.444 3.379 4.6 3.419-1.68 1.319-3.809 2.105-6.115 2.105-.398 0-.79-.023-1.175-.068 2.179 1.397 4.768 2.212 7.557 2.212 9.054 0 14.002-7.496 14.002-13.986 0-.21 0-.423-.015-.633.962-.695 1.797-1.562 2.457-2.549z"/>
                </svg>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="text-gray-400 hover:text-white mx-2">
                <svg class="w-6 h-6 inline-block" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2.163c3.204 0 3.584.012 4.85.07 1.366.062 2.633.332 3.608 1.308.975.975 1.246 2.242 1.308 3.608.058 1.266.07 1.646.07 4.85s-.012 3.584-.07 4.85c-.062 1.366-.332 2.633-1.308 3.608-.975.975-2.242 1.246-3.608 1.308-1.266.058-1.646.07-4.85.07s-3.584-.012-4.85-.07c-1.366-.062-2.633-.332-3.608-1.308-.975-.975-1.246-2.242-1.308-3.608-.058-1.266-.07-1.646-.07-4.85s.012-3.584.07-4.85c.062-1.366.332-2.633 1.308-3.608.975-.975 2.242-1.246 3.608-1.308 1.266-.058 1.646-.07 4.85-.07zm0-2.163c-3.259 0-3.667.012-4.947.072-1.281.06-2.507.335-3.482 1.31-.975.975-1.25 2.201-1.31 3.482-.06 1.28-.072 1.688-.072 4.947s.012 3.667.072 4.947c.06 1.281.335 2.507 1.31 3.482.975.975 2.201 1.25 3.482 1.31 1.28.06 1.688.072 4.947.072s3.667-.012 4.947-.072c1.281-.06 2.507-.335 3.482-1.31.975-.975 1.25-2.201 1.31-3.482.06-1.28.072-1.688.072-4.947s-.012-3.667-.072-4.947c-.06-1.281-.335-2.507-1.31-3.482-.975-.975-2.201-1.25-3.482-1.31-1.28-.06-1.688-.072-4.947-.072zM12 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.162 6.162 6.162 6.162-2.759 6.162-6.162-2.759-6.162-6.162-6.162zm0 10.324c-2.295 0-4.162-1.867-4.162-4.162s1.867-4.162 4.162-4.162 4.162 1.867 4.162 4.162-1.867 4.162-4.162 4.162zm6.406-11.845c-.796 0-1.441.645-1.441 1.441s.645 1.441 1.441 1.441 1.441-.645 1.441-1.441-.645-1.441-1.441-1.441z"/>
                </svg>
            </a>
        </div>
    </div>
</footer>