
  <style>
    .background {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
        url("https://i.pinimg.com/originals/fa/ad/6c/faad6c57246ba7022cb2dfc334342c99.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>

  <body class="background min-h-screen grid place-items-center w-full">
    <section class="bg-[#fff] rounded-xl">
      <form
        action="/members/login"
        method="POST"
        class="w-[450px] max-w-[600px] mx-auto p-5"
      >
        <p class="text-center text-3xl font-semibold mb-5">Sign In</p>
        <div class="mb-5">
          <label
            for="membername"
            class="block mb-2 text-sm font-medium text-gray-900 flex items-center gap-1"
            ><span class="text-xl text-[red]">*</span>Username</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 16"
              >
                <path
                  d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                />
                <path
                  d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                />
              </svg>
            </div>
            <input
              type="text"
              id="email-address-icon"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
              placeholder="username"
              autofocus
              name="membername"
            />
          </div>
        </div>

        <div class="mb-5">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 flex items-center gap-1"
            ><span class="text-xl text-[red]">*</span>Password</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 2C9.243 2 7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5zm-5 10h10l.001 8H7v-8zm3-2V7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H10z"
                />
              </svg>
            </div>
            <input
              id="password-icon"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
              name="password"
              type="password"
              placeholder="password"
            />
          </div>
        </div>
        <div class="flex items-start mb-5">
          <div class="flex items-center h-5">
            <input
              id="terms"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
              required
            />
          </div>
          <label for="terms" class="ms-2 text-sm font-medium text-gray-900"
            >I agree with the
            <a href="#" class="text-blue-600 hover:underline"
              >terms and conditions</a
            ></label
          >
        </div>
        <div>
          <% if (typeof error !== 'undefined') { %>
          <p class="text-[red]"><%= error %></p>
          <% } %>
        </div>
        <div class="grid justify-center flex-col items-center">
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4"
          >
            Sign In
          </button>
          <div class="inline">
            <span>You don't have an account?</span>
            <a href="/members/register" class="text-[blue] hover:underline"> Sign up</a>
          </div>
        </div>
      </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>

